:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primaryColor : #0C4D9C;
  --lightColor : #fffaee;
  --darkcolor: #000000;
}

body{
  background-color: var(--lightColor) !important;
}

.login-form{
  color: var(--darkcolor);
  text-align: center;
  align-items: center;
  width: 300px;
  height: fit-content;
  margin: 150px 0 0 50%;
  transform: translateX(-50%);
  border: #000000 solid 1px;
  border-radius: 20px;
  padding: 30px;
  padding-bottom: 50px;
}

.login-form h1 span{
  color: var(--primaryColor);
}

